body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(95, 95, 91, 0.75)
}

body * {
    font-family: 'Open Sans', sans-serif;
}

.header{
    margin: 20px auto auto;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
 
.outerShell{
    width: 100%;
}

.instructions{
    border: 1px solid #635F5F;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.0em;
    margin: auto;
    text-align: center;
    width: 50%;
}

.inputText{
     margin: 7px 5px 7px 5px;   
}

.instructions, inputText{
    color: #403E3E;
    margin-top: 10px;
}

#currencyAmount{
    border: 1px solid #DCD6D6;
    border-radius: 3px;
    text-align: center;
    width: 50%;
}

#fromCurrency{
    background-color: rgba(177, 135, 127, 0.75);
    border-radius: 3px;
    width: 50%;
}

#finalCurrency{
    background-color: rgba(127, 177, 127, 0.75);
    border-radius: 3px;
    width: 50%;
}

ul{
    margin-left: 15%;
    text-align: left;
    list-style-type: none;
}


#calculateButton{
    border-radius: 3px;
    background-color: rgba(84, 121, 84, 0.75);
    border: 1px solid transparent;
}

.results{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 20px auto 20px;
}

.flags{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.fromFlag{
    border: 7px solid red;
}

.toFlag{
    border: 7px solid green;
}

img{
    border: 1px solid black;
    width: 100%;
}

#worldMap{
    position: absolute;
    width: 100%;
    height: 400px;
}

#marker {
    background-image: url('marker.png');
    background-size: cover;
    width: 25px;
    height: 25px;
}

@media only screen and ( min-width: 760px ) {
    body{
        background-color: #B1B1AB;
    }
    .flags{
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
    }
    .fromFlag{
        width: 50%;
    }
    .toFlag{
        width: 50%;
        float: right;
    }
}


/* need to change the centering of the currency selectors
need to change the positioning of the flags
*/

